/* footer */
.footer{
  position: absolute;
  height: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #201644;
  margin: 0 0 60px;

}
/*.footer{
  text-align: center;
}*/
.footer .footer-desc p{
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}
.footer .footer-desc a{
  text-decoration: none;
  color: #FFFFFC;
}

.footer .footer-desc a:hover{
  text-decoration: underline;
  color: #42858C;
}


@media only screen and (max-width: 750px) {


  .footer{
    width: 100%;
    text-align: center;
  }
  .footer .footer-desc{
    font-size: 10px;
    padding: 1.5rem;
    text-align: right;
  }
}
